<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form>
        <h1>Verificación de Placa</h1>
        <div id="result"></div>
    </form>
    <script>
        // Función para realizar la solicitud GET
        function checkSignal() {
            $.ajax({
                url: '/signal',
                type: 'GET',
                success: function(response){
                    var ss = response.status;
                    var message = response.message;
                    if (ss === 'success') {
                        $('#result').text(response);
                        setTimeout(function(){
                            checkSignal();
                        }, 5000);
                    }else {
                        checkSignal();
                    }
                },
                error: function(error){
                            console.log(error);
                            checkSignal();
                        }
            });
        }
    </script>
</body>
</html>